name: HANA

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  hana:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        hana-driver: [hdb, hana-client]
        hana-prom: [true, false]
    env:
      HANA_DRIVER: ${{ matrix.hana-driver }}
      HANA_PROM: ${{ matrix.hana-prom }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: cap-js/.github/.github/actions/hana-hdi-container@fix-hana-hdi-container
        with:
          instance-prefix: telemetry
          service-manager-url: ${{ secrets.SM_URL }}
          hana-plan-id: ${{ secrets.HANA_PLAN_ID }}
          service-manager-auth-url: ${{ secrets.SM_AUTH_URL }}
          service-manager-client-id: ${{ secrets.SM_CLIENT_ID }}
          service-manager-client-secret: ${{ secrets.SM_CLIENT_SECRET }}
      - run: npm i -g @sap/cds-dk
      - run: npm add @cap-js/hana
      - run: npm add hdb
      - run: npm add @sap/hana-client
      - run: npm i
      - run: cds v
      - run: cd test/bookshop && cds deploy -2 hana --vcap-file vcap.json
      - run: npm run test
